body
{
	margin: 0;
	padding: 0;
	
	font-family: 'Open Sans', sans-serif;
	
	background: #eee;
}

h1, h2, h3, h4, h5, h6
{
        font-family: 'Source Sans Pro', sans-serif;
}

p
{
    margin: 15px;
}

a
{
	color: #e2402e;
	font-weight: bold;
}

a:hover { color: #000; }

/*----------INDEX----------*/

.content
{
	width: 75%;
	margin: auto;
	
	background: #eee;
}

/*----------HEADER----------*/

.header
{
    text-align: center;
}

/*---------GAME----------*/

.game
{
	width: 960px;
	height: 540px;
	margin: auto;
	
	color: white;
	background: black;
}

.game iframe
{
	width: 100%;
	height: 100%;
}

/*----------DESCRIPTION----------*/

.description
{
	width: 70%;
	margin: 0 auto 20px auto;
}

table, th, td
{
    border-collapse: collapse;
    border: 1px solid #888;
    text-align: left;
    padding: 5px 10px;
}

/*----------FOOTER----------*/

.footer
{
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* RESIZING */

@media screen and (max-width: 600px) {
	.content { width: 90%; }
	.description { width: 100%; }
}
